<div class="nested-fields">

  <div class="field">
    <%= form.text_area :description %>

  </div>

   <div class="field">
    <%= form.check_box :correct, {}, true %>
    <%= form.label :correct, "A Correct Answer"%>
  </div>
 
  <%= link_to_remove_association "Remove Answer", form %>
</div>