<section>
  <%= link_to("Return to your quiz", edit_quiz_path(@question.quiz.id)) %>

  <%= link_to("New Question", new_quiz_question_path(@question.quiz.id, @question), class: "btn-outline-primary") %>
</section>

<section id="edit-question-form"> 
  <div class="new-quiz-form">
    <div class="new-quiz-form-items">
      <h1>Edit Question</h1>

      <%= render "formQ" %>


  <% if can?(:delete, @question)%>
    <%= link_to("Delete Question", quiz_question_path(@question.quiz.id, @question), method: :delete)%>
  <% end %>
    </div>
  </div>
</section>


