

<div id="welcome-splash" class="d-flex justify-content-center align-items-center">
  <div class="container" id="welcome-container">

    <h1 class="display-4 splash-title">Welcome to Inquizzitive!</h1>
    <p class="lead text-white">We fasttrack you to smartness</p>
    
    <p>
      <% if user_signed_in? %>
        <%= link_to("Sharpen your mind", quizzes_path, class: "btn btn-secondary text-white btn-lg") %>
      <% else %>
        <%= link_to("Join the party!", new_user_session_path, class: "btn btn-primary btn-lg") %>
      <% end %>
    </p>
  </div>
</div>