<div class="jumbotron">
  <h1 class="display-4">Hello, World</h1>
  <p class="lead">This will be a statement of how awesome our project is.</p>
  <hr class="my-4">
  <p>This will be a clickable button that redirects to sign up/sign in (if user not signed in) or quiz index page.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Enter</a>
</div>