// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.titleNav {
  background-color: rgb(72, 133, 237);
  padding: 20px; 
  margin-bottom: 10px;
}

.titleNav a {
  color: white
}

.new-quiz-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-quiz-form-items {
  width: 80%;
}

.new-quiz-form-title {
  border-bottom: 1px solid rgb(72, 133, 237);
}

.quiz-form-difficulty {
  display: flex;
}

.quiz-form-difficulty-buttons{
  display: flex;
  padding-left: 10px;
}


.quiz-form-radio {
  padding-left: 10px;
}


.quiz-form-submit input{
  color: white;
  background: rgb(72, 133, 237);
  border: none;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black;
  width: 200px;
  padding: 7px 0;
  margin: 10px auto;
}

.quiz-form-submit input:hover:enabled {
  background: 
    linear-gradient(
      rgb(72, 133, 237), white
    );
    color: white;
    text-decoration: none;
}

.quiz-form-submit input:active {
  transform: translateY(1px);
}


.quiz-form-input {
  border-radius: 3px;
  border: 1px solid black;
  font-size: 16px;
  width: 100%;
}

.tab-content {
  border-left: 1px solid rgb(72, 133, 237);
  border-right: 1px solid rgb(72, 133, 237);
  border-bottom: 1px solid rgb(72, 133, 237);
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
}

.nav-tabs {
  margin-bottom: 0;
  
}

#indexNav{
  padding-right: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
#nav-tabContent{
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

// .tab-pane{
//   border: solid #d45500;
// }

.nav-tabs > li a {
  border: 1px solid #1A3E5E;
  background-color:#2F71AB;
  color:#fff; 
}
