// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-cover {
  background-image: url(asset_path("art-blue-boat-194094.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  // text-align: center;
  text-color: #343a40;
  padding-top: 10rem;
  padding-bottom: 10rem;

}